@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Carme|Hammersmith+One');

header {
	background: #FFF
}

nav {
	font-family: 'Alegreya Sans SC', sans-serif;
}

body {
	background: #FFF
	color: #39B54A;
	font-family: 'Carme', sans-serif;
}

footer {
	background: #FFF
	font: 'Carme', sans-serif;
}