@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Carme|Hammersmith+One');

header {
	background: #FFF
}

nav {
	font-family: 'Alegreya Sans SC', sans-serif;
	padding: 1em;
	margin: 2em;
}

#navbar {
	opacity: .5;
	text-decoration: none;
}

body {
	background: #FFF
	color: #39B54A;
	font-family: 'Carme', sans-serif;
}

#logo {
	float: left;
	padding: .5em;
	margin: 0 1em 1em 0;
}

#intro {
	float: right;
	text-align: center;
	padding: .5em;
	margin: 2em 3em 1em 0;
}

div {
	clear: both;
}

footer {
	background: #FFF
	color: #39B54A;
	font: 'Carme', sans-serif;
	text-align: center;
	padding: 1.5em;
	margin: 1.5em;
}